nav{
    display: flex;
    justify-content: center;
}

ul{
    margin-top: 20px;
    display: flex;
    gap: 100px;
    list-style-type: none;
    
}

a{
    text-decoration: none;
    font-size: 30px;
}
