*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    text-align: center;
    margin: 6px 0;
    font-size: 30px;
}
.container {
    display: flex;
    max-width:1400px;
    margin:0 auto;
}
.category{
    margin-right:60px;
}